.box-shadow(@type: '',@h, @v, @blur, @color) {
    -webkit-box-shadow: @type, @h @v @blur @color;
    -moz-box-shadow: @type, @h @v @blur @color;
    -ms-box-shadow: @type, @h @v @blur @color;
    -o-box-shadow: @type, @h @v @blur @color;
    box-shadow: @type, @h @v @blur @color;
}

.transition(@type, @duration, @timing-function){
    -webkit-transition: @type @duration @timing-function;
    -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.transform(@method){
    -webkit-transform: @method;
    -moz-transform: @method;
    -ms-transform: @method;
    -o-transform: @method;
    transform: @method;
}

.transition-duration(@t){
    -webkit-transition-duration: @t;
    -moz-transition-duration: @t;
    -o-transition-duration: @t;
    transition-duration: @t;
}