@black     : #000000;
@white     : #FFFFFF;
@default-min-width: 1024px;
@default-min-height: auto;


//default font weight
@thin      : 100;
@light     : 300;
@normal    : 400;
@medium    : 500;
@bold      : 700;
@ultra-bold: 900;

//screen size definitions
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;


//Default Font Style
@default-font-color : @black;
@default-font-name  : 'Roboto';
@default-font-size  : 20px;
@default-font-type  : sans-serif;
@default-font-weight: @light;

@alternative-font-name: 'Ubuntu';
@alternative-font-type: @default-font-type;